/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary: #020624;
    --color-bg-primary-dark: #030416;
    --color-bg-sub: #152063;
    --color-font-base: #fffdde;
    --color-base: #fffdde;
    --color-base-dark: #010414;
}
